body {
  position: relative;
  padding-top: 10px;
}

#home {
  padding-top: 10px;
  min-height: 800px;
  background: url(./images/background.jpeg) fixed;
  background-size: cover;
  height: 100vh;
}

.trans {
  background-color: rgba(255,255,255,0.65)!important;
  text-align: center;
  padding: 3rem;
}

#myname {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: xxx-large;
}

#what-i-do {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: x-large;
  padding-bottom: 2rem;
}
